<h1>Login</h1>
<%= @error %>
<form method="POST" action="/login">
    Username: <input type="text" name="user[username]" > <br>
    Password: <input type="password" name="user[password]"> <br>
    <input type="submit" value="login">
</form>